---
layout: default
title: Home
---

<div class="posts">
  Posts:
  <br/>
  {% for post in paginator.posts %}
    <span class="post">
      <span class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }} { {{ post.date | date_to_string }} }
        </a>
      </span>
    </span>
     {% if post.previous %}
      <span><br/></span>
      {% endif %}
  {% endfor %}
</div>

<br/>
<div class="talks">
    <p>Upcoming Talks:</p>
            <span class="post-title">
              <a href="http://www.elixirconf.eu/elixirconf2017/ben-marx">Keeping Code Consistent { 3 May 2016 }</a>
            </span>
        </span>
</div>
