<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title"><a href="/" title="Home">{{ site.title }}</a></h3>
          <div class="list-group">
            <small>
              <a href="/"><i class="fas fa-home"></i></a> /
              <a href="/about"><i class="far fa-user-circle"></i></a> /
              <!-- <a href="/code"><i class="fas fa-code"></i></a> / -->
              <a href="/talks"><i class="fas fa-video"></i></a> /
              <a href="https://pragprog.com/book/tvmelixir/adopting-elixir" target="_blank"><i class="fas fa-book"></i></a> /
              <!--<a href="/reading-list"><i class="fas fa-list"></i></a> /-->
              <a href="mailto:ben@bgmarx.com"><i class="fas fa-envelope"></i></a> /
              <a class="list-group-item" href="https://github.com/bgmarx"   target="_blank"><i class="fab fa-github"></i></a> /
              <a class="list-group-item" href="https://twitter.com/bgmarx"  target="_blank"><i class="fab fa-twitter"></i></a>
            </small>
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="container content">
        {{ content }}
        {% if paginator.total_pages >= 10 %}
          <div class="pagination" style="font-size:14px;color:#303030;">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous"> < </a>
            {% else %}
              <span class="previous"></span>
            {% endif %}
            <span class="page_number ">
              {{ paginator.page }}|{{ paginator.total_pages }}
            </span>
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next">></a>
            {% else %}
              <span class="next "></span>
            {% endif %}
          </div>
        {% else %}
        {% endif %}
      </div>
    </div>
  </body>
</html>
